body{
    background: no-repeat linear-gradient(250deg, #ffffff, #000000);
    background-size: cover;
    padding:20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.title{
    color: #000000;
    font-size: 20px;


}
.quiz-container {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px white;
    padding: 3rem;
    text-shadow: 0 1px #00000010;
    width: 60%; 
    height: 400px !important;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("quiz.jpg")  ;
    background-size: cover;
   
    color: #000000;
  }
  .question {
    margin: 2rem 0;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.336);
    padding: 10px;
  }
  .option {
    padding: 1rem;
    color: #00000095;
    background: rgba(19, 18, 18);
    width: 80%;
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 1.5rem;
    color: white;
    margin: 5px;
  }
  .option:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .option input:checked .option {
    background: #08038c;
    color: #000;
  }
  .controls > * {
    margin: 1rem;
  }
  button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
  }
  button.previous {
    background: #c84630;
  }
  button.next {
    background: #3c91e6;
  }
  button.restart {
    background: #0cf574;
    color: #00000050;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
  }
  button.restart:hover {
    color: #00000098;
  }
  button:hover,
  button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
  .result {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 60%;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
    
    background-size: cover;
    color: white;
   }
   .result h1,h2,p{
    background: rgba(255, 255, 255, 0.034);
   }