body{
    background-image: url("hogwarts.png");
    background-size: cover;
    max-width: 100vw;
    min-height:900px !important;
    background-position: center;
    background-repeat: no-repeat;
}
.text-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    font-family: 'Pacifico', cursive;
}
.button{
    background-color: transparent;
    padding: 20px;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}
 .button:hover{
     font-size:30px;
     margin:2px;
     border: 1px solid black
 }